.toggle {
  width: 100px;
  height: 40px;
  background-color: #ccc;
  padding: 5px;
  border-radius: 100rem;
  margin: 25px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.toggle.active {
  background-color: #f62682;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100rem;
  transition: all 0.2s linear;
}

.spinner.active {
  transform: translateX(60px);
}

.toggle-control {
  margin: 0 25px;
  display: flex;
  align-items: center;
  gap: -10px;
}

.toggle-control > * {
  cursor: pointer;
}
